absl-py==0.1.10
attrs==17.4.0
bleach==1.5.0
certifi==2018.1.18
chardet==3.0.4
decorator==4.2.1
html5lib==0.9999999
idna==2.6
ipython-genutils==0.2.0
jsonschema==2.6.0
jupyter-core==4.4.0
Markdown==2.6.11
nbformat==4.4.0
numpy==1.14.0
Pillow==5.0.0
plotly==2.5.1
pluggy==0.6.0
protobuf==3.5.1
py==1.5.2
pypng==0.0.18
pytest==3.4.0
pytz==2018.3
requests==2.18.4
scipy==1.0.0
six==1.11.0
tensorflow==2.5.0
tensorflow-tensorboard==1.5.1
tflog==0.0.1
tqdm==4.19.9
traitlets==4.3.2
urllib3==1.22
Werkzeug==0.14.1
